.subheddings {
	position: absolute;
	min-width: 160px;
	background-color: $brand-color2;
	color: $white;
	padding: 10px 45px;
	font-size: 14px;
	font-family: $subheadlines-font;
	letter-spacing: 0.04em;
	text-align: center;
	@media (max-width: $phone){
		padding: 10px 38px;
	}
}
.subheddings_white{
	min-width: 160px;
	display: inline-flex;
	justify-content: center;
	background-color: $white;
	color: $brand-color2;
	padding: 10px 45px;
	font-size: 14px;
	font-family: $subheadlines-font;
	letter-spacing: 0.04em;
}