@font-face {
    font-family: 'flood';
    src: url('../fonts/Flood-Std-Regular.eot');
    src: url('../fonts/Flood-Std-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flood-Std-Regular.woff2') format('woff2'),
         url('../fonts/Flood-Std-Regular.woff') format('woff'),
         url('../fonts/Flood-Std-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poynter';
    src: url('../fonts/PoynterOldstyleDisplay-Bold.eot');
    src: url('../fonts/PoynterOldstyleDisplay-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PoynterOldstyleDisplay-Bold.woff2') format('woff2'),
         url('../fonts/PoynterOldstyleDisplay-Bold.woff') format('woff'),
         url('../fonts/PoynterOldstyleDisplay-Bold.ttf')  format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'libertadregular';
    src: url('../fonts/libertad-regular-webfont.eot');
    src: url('../fonts/libertad-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/libertad-regular-webfont.woff2') format('woff2'),
         url('../fonts/libertad-regular-webfont.woff') format('woff'),
         url('../fonts/libertad-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'libertadlight';
    src: url('../fonts/libertad-light-webfont.eot');
    src: url('../fonts/libertad-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/libertad-light-webfont.woff2') format('woff2'),
         url('../fonts/libertad-light-webfont.woff') format('woff'),
         url('../fonts/libertad-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



